.enclosed-ul {
    list-style-type: none;
    padding: 0;
    background-color: aliceblue;
}
    .enclosed-li {
        padding: 10px 0;
        border-bottom: 1px solid #a6a6a6;
    }
    li :last-child {
        border-bottom: none;
    }
    .enclosed-ul__header {
        width: 200px;
        line-height: 20px;
        border-top: 2px solid #a6a6a6;
        border-bottom: 2px solid #cfcfcf;
        background: silver;
        background: linear-gradient(to bottom, silver, #dfdfdf);
        font-weight: bold;
        color: #fff;
        text-shadow: 0 1px #000;
    }
        .enclosed-ul__header_floating {
            visibility: hidden;
        }