body {
    font-family: Arial;
    font-size: 12px;
    margin: 0;
    background-color: lightslategray;
}

#main-container {
    height: 95vh;
    padding: 100px;
    overflow: hidden;
}

.main-div {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.main-ul {
    margin: 0;
    width: 220px;
    list-style-type: none;
    padding: 0;
    background-color: aliceblue;
}
    .main-li {
        padding: 0;
    }
    .main-ul__floating-header {
        z-index: 100;
        width: 200px;
        line-height: 20px;
        border-top: 2px solid #a6a6a6;
        border-bottom: 2px solid #cfcfcf;
        background: silver;
        background: linear-gradient(to bottom, silver, #dfdfdf);
        position: absolute;
        opacity: 0.9;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 1px #000;
    }